<a href="https://colab.research.google.com/github/Devanshpundir-code/ml-projects-of-RandomForest/blob/main/fish_data_random_forest_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing modules

In [34]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

loading data

In [35]:
path = '/content/drive/MyDrive/Dev drive/Fish.csv'
fish = pd.read_csv(path)

In [36]:
fish.tail(200)

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

separting dependent and independend variables

In [37]:
x = fish.drop('Species', axis=1)
y = fish['Species']

spliting data into train and test

In [38]:
train_x, test_x,    train_y, test_y = train_test_split(x,y,  test_size=.2,   random_state=4)

classifier

In [39]:
classifier = RandomForestClassifier(n_estimators=100)
classifier.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [40]:
classifier.score(test_x, test_y)

0.90625

In [41]:
new_fish = [
            432.0,
            26.4,
            29.4,
            34.4,
            12.4040,
            5.1040
]

In [42]:
new_fish = np.array([new_fish])

In [43]:
prediction = classifier.predict(new_fish)

In [44]:
print(f"The predicted species is {prediction}")

The predicted species is ['Bream']